body {
  font-family: sans-serif;
}
ul {
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #052b3d;
  border-style: solid;
  border-radius: 2em;
  border-color: white;
  margin-bottom: 1em;
  text-decoration: none;
  max-width: fit-content;
}
li a:hover {
  background-color: white;
  border-style: solid;
  border-radius: 2em;
  border-color: #052b3d;
  color: #052b3d;
}
body {
  background-color: #052b3d;
}
.logo img {
  display: block;
  max-width: 300px;
  margin-left: 142.06px;
}
.home {
  grid-area: home;
}
.analysis {
  grid-area: analysis;
}
.guide {
  grid-area: guide;
}
.demo {
  grid-area: demo;
}
.logo {
  margin: auto;
  grid-area: logo;
}
.navbar {
  margin: auto;
}
.mainsec {
  text-align: block;
  color: white;
}
.mainsec p {
  max-width: auto;
}
.mainsec h3,
.mainsec h1 {
  text-align: center;
}
.wrapper {
  display: grid;
}
.subsec {
  margin: auto;
}
.mainsec div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  margin-bottom: 2rem;
  align-items: right;
}
iframe {
  display: block;
  margin: auto;
}
@media (min-width: 750px) {
  .wrapper {
    grid-template-columns: 2, 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "logo home"
      "analysis analysis"
      "guide guide"
      "demo demo"
      "mainsec mainsec"
      "subsec subsec";
  }
  .mainsec {
    margin-left: 142.06px;
  }
}
@media (max-width: 750px) {
  .wrapper {
    grid-template-areas:
      "logo"
      "home"
      "analysis"
      "guide"
      "demo"
      "mainsec"
      "subsec";
  }
  iframe {
    max-width: 315px;
    max-height: 210px;
  }
}
